﻿@page "/"
@using worksheet5.Models
@using worksheet5.Services
@inject PersonPropertyPredictorService PersonPropertyPredictorService

<p>This component uses several APIs to receive details about a person and then attempt to guess details about them from their name.</p>
<p>Enter details about a person to compare them against the outputs of various APIs and what they predict particular properties of that person to be, based on their name.</p>

<EditForm Model="@_personForm" OnValidSubmit="@SubmitPerson">

	<DataAnnotationsValidator />
	<ValidationSummary />
	<p>
		<label for="name_input"><span>First name:</span></label>
		<InputText id="name_input" @bind-Value="_personForm.Name" />
	</p>
	<p>
		<label for="nationality_input"><span>Nationality:</span></label>
		<InputSelect id="nationality_input" @bind-Value="_personForm.ActualNationality">
			<option value="">Please select a nationality...</option>
			@if (_countries != null)
			{
				foreach (RESTCountriesDTO country in _countries)
				{
					<option value="@country.Name">@country.Name</option>
				}
			}
		</InputSelect>
	</p>
	<p>
		<label for="gender_input"><span>Gender:</span></label>
		<InputSelect id="gender_input" @bind-Value="_personForm.ActualGender">
			<option value="">Please select a gender...</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		</InputSelect>
	</p>
	<p>
		<label for="age_input"><span>Age:</span></label>
		<InputNumber id="age_input" @bind-Value="_personForm.ActualAge" />
	</p>

	<div>
		<button type="submit">Use Person</button>
		<button type="button" @onclick="SubmitRandomPerson">Use Random Person</button>
	</div>
</EditForm>

@if (_isCompilingPerson)																	
{
	<p>Loading...</p>
}
else if (_personDisplay != null)
{
	<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actual Nationality</th>
                <th>Predicted Nationality</th>
                <th>Actual Gender</th>
                <th>Predicted Gender</th>
                <th>Actual Age</th>
                <th>Predicted Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@_personDisplay.Name</td>
                <td>@_personDisplay.ActualNationality</td>
                <td>@_personDisplay.PredictedNationality</td>
                <td>@_personDisplay.ActualGender</td>
                <td>@_personDisplay.PredictedGender</td>
                <td>@_personDisplay.ActualAge</td>
                <td>@_personDisplay.PredictedAge</td>
            </tr>
        </tbody>
    </table>
}

@code {
	private PersonViewModel _personDisplay;

	private PersonViewModel _personForm = new PersonViewModel();

	private IEnumerable<RESTCountriesDTO> _countries;

	private bool _isCompilingPerson = false;

	protected override async Task OnInitializedAsync()
	{
		_countries = await PersonPropertyPredictorService.GetCollectionOfCountries();
	}

	private async void SubmitPerson()
	{
		_isCompilingPerson = true;
		_personDisplay = await PersonPropertyPredictorService.CompilePerson(_personForm);
		_personForm = new PersonViewModel();
		_isCompilingPerson = false;
		this.StateHasChanged();
	}

	private async void SubmitRandomPerson()
	{
		_isCompilingPerson = true;
		_personDisplay = await PersonPropertyPredictorService.CompilePerson();
		_isCompilingPerson = false;
		this.StateHasChanged();
	}
}
